<div>
    <p></p>
    <h3>Регистрация</h3>
    <p></p>

    <p></p>
    <h3>Информация о пользователе</h3>
    <form novalidate>
        <input class="form-control" type="text" placeholder="логин" ng-model="newUser.login">
        <p></p>
        <input class="form-control" type="password" placeholder="пароль" ng-model="newUser.password">
        <p></p>
        <input class="form-control" type="email" placeholder="email@mail.ru" ng-model="newUser.email">
        <p></p>
    </form>

    <button class="btn btn-primary" ng-click="tryToReg()" >Отправить на валидацию</button>
</div>